
@{
    ViewData["Title"] = "Aggregates";
}

<h1>@ViewData["Title"]</h1>

<p>Aggregated Data</p>

<div class="row">
    <div class="col-12">
        <table id="top-ten-students-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Average Score</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Average Score</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var tableTopStudents = $('#top-ten-students-table').DataTable({
            ajax: {
                url: '/Students/GetTopTen',
                dataSrc: onDatatableDataLoad, // in site.js
            },
            columns: [
                { data: 'IdStudent' },
                { data: 'FirstName' },
                { data: 'LastName' },
                { data: 'AvgScore' }
            ],
            order: [[ 3, "desc" ]]
        });
    });
</script>