@{
    ViewData["Title"] = "Disciplines";
}
<h1>@ViewData["Title"]</h1>

<p>View and edit disciplines</p>

<div class="row">
    <div class="col-12">
        <table id="disciplines-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Professor Name</th>
                    <th>Score</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Professor Name</th>
                    <th>Score</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        var table = $('#disciplines-table').DataTable({
            ajax: { 
                url: '/Disciplines/GetData',
                dataSrc: onDatatableDataLoad, // in site.js
            },
            columns: [
            { data: 'IdDiscipline' },
            { data: 'Name' },
            { 
                data: 'ProfessorName',
                render: function ( data, type, row, meta ) {
                  return '<div class="row"><input type="text" readonly="readonly" class="form-control col-7" value="' + data + '"/> <a href="" type="button" class="editor_edit btn btn-primary col-2">Edit</a></div>';
                }
            },
            { data: 'Score' },
            {
                data: null,
                className: "center",
                defaultContent: '<a href="" class="editor_remove btn btn-danger">Delete</a>'
            }
            ]
        });

        
        $('#disciplines-table tbody').on('click', 'tr', function (e) {
            e.preventDefault();
            var row = table.row(this);
            var discipline = row.data();
            if ($(e.target).hasClass('editor_remove')) {
                deleteDiscipline(discipline, row); // in site.js
            }
            else if ($(e.target).hasClass('editor_edit')) {
                var btn = $(e.target);
                editDiscipline(discipline, btn); // in site.js
            }
        });
    });
</script>
