@{
    ViewData["Title"] = "Disciplines";
}
<h1>@ViewData["Title"]</h1>

<p>View and edit disciplines</p>

<div class="row">
    <div class="col-12">
        <table id="disciplines-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Professor Name</th>
                    <th>Score</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Professor Name</th>
                    <th>Score</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#disciplines-table').dataTable({
            ajax: { url: '/Disciplines/GetData',
                dataSrc: 'Data'
            },
            columns: [
            { data: 'IdDiscipline' },
            { data: 'Name' },
            { 
                data: 'ProfessorName',
                render: function ( data, type, row, meta ) {
                  return data + ' <a href="">Edit</a>';
                }
            },
            { data: 'Score' },
            {
            data: null,
            className: "center",
            defaultContent: '<a href="" class="editor_remove">Delete</a>'
            }
            ]
            });
    });
</script>
