@{
    ViewData["Title"] = "Disciplines";
}
<h1>@ViewData["Title"]</h1>

<p>View and edit disciplines</p>

<div class="row">
    <div class="col-12">
        <table id="disciplines-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Professor Name</th>
                    <th>Score</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Professor Name</th>
                    <th>Score</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(document).ready(function(){
        var table = $('#disciplines-table').DataTable({
            ajax: { 
                url: '/Disciplines/GetData',
                dataSrc: function (data) {
                    if (!!data.ErrorMessage) {
                        console.error(data.ErrorMessage);
                    }

                    return data.Data;
                }
            },
            columns: [
            { data: 'IdDiscipline' },
            { data: 'Name' },
            { 
                data: 'ProfessorName',
                render: function ( data, type, row, meta ) {
                  return data + ' <a href="" class="editor_edit">Edit</a>';
                }
            },
            { data: 'Score' },
            {
                data: null,
                className: "center",
                defaultContent: '<a href="" class="editor_remove">Delete</a>'
            }
            ]
            });

        
        $('#disciplines-table tbody').on('click', 'tr', function (e) {
            e.preventDefault();
            if (e.target.className == 'editor_remove') {
                var row = table.row(this);
                var discipline = row.data();
                if (discipline.Score > 0) {
                    alert("Only disciplines without scores can be deleted!")
                }
                else {
                    $.ajax({
                      url: "/Disciplines/Delete?id=" + discipline.IdDiscipline,
                      method: "DELETE"
                    })
                    .done(function( res ) {
                        if (!!res.ErrorMessage) {
                            alert(res.ErrorMessage);
                        }
                        else {
                            row.remove().draw();
                        }
                      })
                    .fail(function(err) {
                        console.error(err.responseText);
                        alert( "Error deleting discipline!");
                      })
                }
            }
            else if (e.target.className == 'editor_edit') {

            }


        } );

    });
</script>
