
@{
    ViewData["Title"] = "Semesters";
}

<h1>@ViewData["Title"]</h1>

<p>View and edit semesters</p>

<div class="row">
    <div class="col-12">
        <table id="semesters-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    @*<th>Add</th>*@
                    <th>Disciplines</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    @*<th>Add</th>*@
                    <th>Disciplines</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<script>
    $(document).ready(function() {
        var tableSemesters = $('#semesters-table').DataTable({
            ajax: { 
                url: '/Semesters/GetData',
                dataSrc: onDatatableDataLoad, // in site.js
            },
            columns: [
            { data: 'IdSemester' },
            { data: 'Name' },
            /*{
                data: null,
                className: "center",
                defaultContent: '<a class="editor_add btn btn-success">Add</a>'
            },*/
            { 
                data: 'Disciplines',
                render: function ( data, type, row, meta ) {
                    var result = '';
                    $.each(row.Disciplines, function( index, value ) {
                        result = renderDisciplineInTableCell(result, row, index, value); // in site.js
                    });

                    return result;
                }
            }
            ]
        });
    }) // document ready
</script>
