
@{
    ViewData["Title"] = "Semesters";
}

<h1>@ViewData["Title"]</h1>

<p>View and edit semesters</p>

<div class="row" style="padding: 15px;">
    <button type="button" class="btn btn-primary" id="add-semester-btn">Add Semester</button>
</div>
<div class="row">
    <div class="col-4" style="padding-bottom: 15px;">
        <form id="add-new-semester-form" style="display:none">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" placeholder="Semester name">
            </div>
            <button type="button" id="add-new-semester-btn" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table id="semesters-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Disciplines</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Disciplines</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#add-semester-btn').on('click', function(e) {
            $('#add-new-semester-form').show();
        });

        $('#add-new-semester-btn').on('click', function (e) {
            var semesterName = $('#add-new-semester-form input[name="name"]').val();
            postCreateSemester(null, semesterName);
        });

        var tableSemesters = $('#semesters-table').DataTable({
            ajax: { 
                url: '/Semesters/GetData',
                dataSrc: onDatatableDataLoad, // in site.js
            },
            columns: [
                { data: 'IdSemester' },
                { data: 'Name' },
                { data: 'StartDate' },
                { data: 'EndDate' },
                { 
                    data: 'Disciplines',
                    render: function ( data, type, row, meta ) {
                        var result = '';
                        $.each(row.Disciplines, function( index, value ) {
                            result = renderDisciplineInTableCell(result, row, index, value); // in site.js
                        });

                        return result;
                    }
                },
                {
                    data: null,
                    className: "center",
                    defaultContent: '<a href="" class="editor_remove btn btn-danger">Delete</a>'
                }
            ]
        });

        $('#semesters-table tbody').on('click', 'tr', function (e) {
            e.preventDefault();
            var row = tableSemesters.row(this);
            var semester = row.data();
            if ($(e.target).hasClass('editor_remove')) {
                deleteSemester(semester, row); // in site.js
            }
        });
    }) // document ready
</script>
