
@{
    ViewData["Title"] = "Semesters";
}

<h1>@ViewData["Title"]</h1>

<p>View and edit semesters</p>

<div class="row">
    <div class="col-12">
        <table id="semesters-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    @*<th>Add</th>*@
                    <th>Disciplines</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    @*<th>Add</th>*@
                    <th>Disciplines</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<script>
    $(document).ready(function() {
        var tableSemesters = $('#semesters-table').DataTable({
            ajax: { 
                url: '/Semesters/GetData',
                dataSrc: onDatatableDataLoad, // in site.js
            },
            columns: [
            { data: 'IdSemester' },
            { data: 'Name' },
            /*{
                data: null,
                className: "center",
                defaultContent: '<a class="editor_add btn btn-success">Add</a>'
            },*/
            { 
                data: 'Disciplines',
                render: function ( data, type, row, meta ) {
                    var result = '';
                    $.each(row.Disciplines, function( index, value ) {
                        if (index === 0) {
                            result = result + '<br/>';
                        }
                        var deleteBtnId = 'delete-btn-' + value.IdDiscipline;
                        var addBtnId = 'add-btn-' + value.IdDiscipline;
                        var addDisciplineFormId = 'add-form-' + row.IdSemester;
                        var addDisciplineBtnId = 'add-discipline-btn-' + row.IdSemester;
                        result = result + ('<div class="row">' +
                            '<div class="col-3">' + value.Name + '</div>' + 
                            '<div class="col-3">' + value.ProfessorName + '</div>' + 
                            '<div class="col-3">' + value.Score + '</div>' + 
                            '<div class="col-3"><button type="button" id="' + deleteBtnId + '">Delete</button></div>' + 
                            '</div>');

                        $('#' + deleteBtnId).on('click', function(e) {
                            deleteDiscipline(value); // in site.js
                        });
                        if (index === row.Disciplines.length - 1) {
                            result = result + '<div class="row add-btn-wrapper" style="padding-left:10px;"><button class="col-9 btn btn-success btn-sm" type="button" id="' + addBtnId + '">Add</button></div>';
                            result = result + '<form id="' + addDisciplineFormId + '" style="display:none" >' +
                                                        '<div class="form-group">' +
                                                            '<label>Name</label>' +
                                                            '<input type="text" class="form-control" name="name" placeholder="Discipline name">' +
                                                        '</div>' + 
                                                        '<div class="form-group">' +
                                                            '<label>Professor Name</label>' +
                                                            '<input type="text" class="form-control" name="professor" placeholder="Professor name">' +
                                                        '</div>' +
                                                        '<div class="form-group">' +
                                                            '<label>Score</label>' +
                                                            '<input type="number" class="form-control" name="score" placeholder="Score">' +
                                                        '</div>' +
                                                        '<button type="button" id="' + addDisciplineBtnId + '" class="btn btn-primary">Submit</button>' +
                                                    '</form>';
                            $('#' + addBtnId).on('click', function(e) {
                                $('#' + addDisciplineFormId).show();
                            });
                            $('#' + addDisciplineBtnId).on('click', function(e) {
                                var discName = $('#' + addDisciplineFormId + ' input[name="name"]').val();
                                var profName = $('#' + addDisciplineFormId + ' input[name="professor"]').val();
                                var score = $('#' + addDisciplineFormId + ' input[name="score"]').val();
                                
                                $.ajax({
                                    url: "/Disciplines/Create?semesterId=" + row.IdSemester + "&name=" + discName + "&professor=" + profName + "&score=" + score,
                                    method: "POST",
                                    contentType: 'application/json'
                                })
                                .done(function(res) { 
                                    if (!!res.ErrorMessage) {
                                        alert(res.ErrorMessage);
                                    }
                                    else {
                                        location.reload(true);
                                    }    
                                })
                                .fail(function(err){
                                    console.error(err.responseText);
                                    alert('Error creating discipline');  
                                });
                                
                            });
                        }
                    });

                    return result;
                }
            }
            ]
        });
    }) // document ready
</script>
